# cat .gitignore | grep -v -e '*' -e python/ | while read file ; do if [ ! -e $file ] ; then echo $file ; fi ; done
*~
*.o
*.gslo
*.x11o
.dep/
.lint/
python/dist
python/build
add_abspos
analyze_transmission
anchor_mismatches
anchor_reads
anchor_repeatness
annotate_candidates
annotate_repeats
assembler
assembly_index
assess_known_cn_events
averages
bad_cn_bins
bam_genotyper
bin_events
bridge_counts
bridge_effect
bridge_figure
bridge_gene
bridge_gene2
bridge_properties
bridges
bridges2txt
candidate_stats
char2int
check_bridges
check_bridges_result
check_cand_cn
check_for_pseudogene
check_mappability
check_mumdex
colsplit
column_split
combine_finebins
compare_segmentation
control_mview
count_anchors
count_chars
count_genes
count_pseudogenes
count_words
debruijn
denovo_cn
denovo_pseudogenes
determine_cn_sex
determine_sex
distinct_colors
dupes
echoe
empirical_bins
encode
even
even_columns
event_histogram
explore_coverage
extract_cn_segments
family_count
family_figure
fastq_kmer_counter
fastq_mapper
fastq_sequences
fastq_vt_mapper
fastqs2sam
filter_bridges
find_bridge
find_diploid_exons
find_indel
find_microsatellite
find_repeats
finebin_cn
gene_info
gene_view
genome_sort
ggraph
heatmap
hist_compare
hists
ihists
jackpot
karyotype
karyotype2
lines_at_pos
local_similarity
lookup_bridge
make_reference
male_cn_stats
map2txt
mapper
merge_mumdex
mismatches
missing_chromosome
mumdex2sam
mumdex2txt
mumdex2txt_fast
mumdex_cn
mumdex_examples
mumdex_finebin
mumdex_sequences
mummer
mview
namepair
namepair_full
offset_beds
optional_test
pair_view
pie
pivot_table
plot
plot_chr_panels
plot_cn_detailed
plot_cn_stats
plot_coverage
plot_invariants
plot_panels
plot_simulate_cn
plot_tnp
plot_unequal
poisson
pop2txt
population_bridges
population_database
population_denovos
pop_cn
position_coverage
primers
print_invariants
random_mumdex_sequences
random_position
random_uniform_distances
randomize_order
rare
recurrent_cn
reference_sequences
repeatness
repeats
sam2fastq
sam2fastqs
sam_mapper
show_all_counts
show_counts
show_counts_special
show_mums
show_pairs
similar_bridge
simulate_cn
simulate_events
simulate_events2
smash
smash_ip_fig
smash_qc
smooth_data
snp_counts
snp_hists
snp_report
stats
subsample
table_columns
table_stats
table_sum
table_summary
test_beta
test_hmm
test_kd
test_lpe
test_mumdex
test_numerical
test_psplot
test_psshade
test_threads
test_x11
theoretical_bins
transmission
uint2int
unequal_bridges
uniqc
validate_mumdex
venn
wg_smash_comparison
x11plot
